.theme-title{
    color: white;
    position: absolute;
    top: 170px;
    right: 45%;
    width: 200px;
    text-align: center;
}
.section-title{
    width: 60%;
    text-align: left;
    margin: auto;
}

.section-title-2{
    width: 60%;
    text-align: right;
    margin: auto;
}